name: GitHub-Profile-3D-Contrib

on:
  schedule:
    - cron: "0 0 * * *"  # 毎日UTC 0時（日本時間9時）に自動実行
  workflow_dispatch:      # 手動実行を許可

jobs:
  build:
    runs-on: ubuntu-latest
    name: generate-github-profile-3d-contrib
    steps:
      - uses: actions/checkout@v4
      - uses: yoshi389111/github-profile-3d-contrib@0.7.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          USERNAME: ${{ github.repository_owner }}
      - name: Commit & Push
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add -A .
          git commit -m "generated" || true
          git push
